<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "../assets/styles/styles.css" />
  <link rel = "stylesheet" type = "text/css" href = "../assets/styles/pdf-template.css" />
</head>
<body>

  <div class="container">

  <div class="banner">
     <div class="top">
       <div class="bold left">Collection Object ID PR.K.006</div>
       <div class="middle">Catalog Sheet</div>
       <div class="right">Examined: Michele Seekings 01-17</div>
     </div>
  </div>
  <header>
     <div class="main">
        <div class="title">
          <p class="collection-title"><span class="bold">PORTER</span> ART COLLECTION - KIAWAH</p>
        </div>
        <div class="logo">
          <img class="logo-img" src="../assets/images/red_82x44.png" />
        </div>
     </div>
     <div class="bottom">
       <div class="subheading">Collection Inventory 2017 | Prepared by Spire Art Services</div>
     </div>
  </header>

  <div>
      <div class="column-left bg-gray">
        <div class="label-block">
          <span class="bold">Type:</span><p class="value"> Painting</p>
        </div>
        <div class="label-block">
          <span class="bold">Artist:</span><p class="value"> Fraser, West (American, b. 1955)</p>
        </div>
        <div class="label-block">
          <span class="bold">Title:</span><p class="value"> Fall Marshes, 2009</p>
        </div>
        <div class="label-block">
          <span class="bold">Medium:</span><p class="value"> Oil on canvas</p>
        </div>
        <div class="label-block">
          <span class="bold">Description:</span><p class="value"> Painting of a Lowcountry marsh scene with blue sky and clouds</p>
        </div><br />
        <div class="label-block">  
          <span class="bold">Dimensions (HxWxD):</span><p class="value"> 24” x 30”</p>
        </div>
        <div class="label-block">
          <span class="bold">Dimensions Frame:</span><p class="value"> 31" x 37 1/2" x 3"</p>
        </div>
        <div class="label-block">
          <span class="bold">Condition:</span><p class="value"> Good</p>
        </div>
        <div class="label-block">
          <span class="bold">Current Location:</span><p class="value"> Family Room - above fireplace</p>
        </div>
        <div class="label-block">
          <span class="bold">Source:</span><p class="value"> Helena Fox Fine Art, Charleston, SC - 2009</p>
        </div>

        <div class="divider"></div>

        <div class="label-block">
          <p class="label-heading bold">Provenance:</p><p class="block-value"> Purchased from artist/gallery</p>
        </div>

        <div class="divider"></div>

        <div class="label-block"> 
          <img src="../assets/images/blue_183x83.png" />
          <p class="label-heading bold">Note:</p><p class="block-value"> Signed by artist lower left corner (facing) and dated ’09.</p>
          <p class="block-value">Since work is framed, accurate piece depth dimension was not specifically noted. Total depth dimension noted with frame dimension.</p>
        </div>
        
        <div class="divider"></div>

        <div class="label-block">
          <img src="../assets/images/green_172x144.png" />
          <p class="label-heading bold">Frame:</p><p class="block-value"> Gilt wood frame with dark outer accent</p>
        </div>



      </div>
      <div class="column-right">
        <div class="big-img">
          <img src="../assets/images/pink_988x792.png" />
        </div>
        <div class="bio">
          <h3 class="bold">Artist’s Biography</h3>
          <p class="bold">West Fraser was born in Savannah, Georgia, in 1955, and was raised in nearby Hinesville until his family moved to Hilton Head Island in 1964. He graduated from the University of Georgia with a Bachelor of Fine Arts degree in 1979. In 1984, he moved to Charleston, South Carolina, where he continues to live and work.</p><br />

          <p class="bold">A leading American artist in the representational and plein air tradition, Fraser has built his career on richly-painted, atmospheric vistas of cities, coasts, and the landscape throughout the United States and internationally—from the pristine Sea Islands of South Carolina and Georgia to the hill towns of Tuscany. An inveterate traveler, he has painted throughout the Caribbean, Central America, Europe, and Scandinavia. Yet his passion always draws him back to the marshes and landscape of the Georgia and South Carolina coast.</p>
        </div>
      </div>
  </div>

  </div>

</body>
</html>
